services:
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    pid: "host"
    ports:
      - "9100:9100"
    command:
      - '--no-collector.arp'
      - '--no-collector.bcache'
      - '--no-collector.bonding'
      - '--no-collector.btrfs'
      - '--no-collector.conntrack'
      - '--no-collector.cpufreq'
      - '--no-collector.diskstats'   # 디스크 stats는 filesystem collector로 충분
      - '--no-collector.dmi'
      - '--no-collector.edac'
      - '--no-collector.entropy'
      - '--no-collector.fibrechannel'
      - '--no-collector.filefd'
      - '--no-collector.hwmon'
      - '--no-collector.infiniband'
      - '--no-collector.ipvs'
      - '--no-collector.mdadm'
      - '--no-collector.netclass'
      - '--no-collector.netdev'
      - '--no-collector.netstat'
      - '--no-collector.nfs'
      - '--no-collector.nfsd'
      - '--no-collector.powersupplyclass'
      - '--no-collector.pressure'
      - '--no-collector.rapl'
      - '--no-collector.schedstat'
      - '--no-collector.selinux'
      - '--no-collector.sockstat'
      - '--no-collector.softnet'
      - '--no-collector.tapestats'
      - '--no-collector.thermal_zone'
      - '--no-collector.timex'
      - '--no-collector.udp_queues'
      - '--no-collector.uname'
      - '--no-collector.watchdog'
      - '--no-collector.xfs'
      - '--no-collector.zfs'
    restart: always